<!-- **BEGIN** Hextom USB Integration // Collection - DO NOT MODIFY -->
    <span class="htusb-ui-boost htusb-ui-coll-boost"
        data-v1="{{ product.id }}"
        data-v2="{{ product.handle }}"
        data-v3="{{ product.product_type }}"
        data-v4="{% if product.tags %}{% for tag in product.tags %}{{ tag | escape | split: "" | reverse | join: "" }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endif %}"
    >
    </span>
<!-- **END** Hextom USB Integration // Collection - DO NOT MODIFY -->